**CR(Computed Radiography)\
IP (Image Plate) Test Report**

**FUJI(ST-VI) / AGFA (CAWO DIGIT BL)**

Thermal and chemical analysis for this report was performed by a
professional analysis agency,\
and comparison tests for X-ray images were performed at Digiray.

![](media/image1.png){width="1.8618055555555555in"
height="0.41388888888888886in"}

DIGIRAY.Corp. 825ho, 142, Ilsan-ro, Ilsandong-gu, Goyang-si,
Gyeonggi-do, Republic of Korea\
TEL: +82(0)3180787784 BUSINESS NUMBER: 314-81-93106

Copyright DIGIRAY.Corp. All rights reserved.

# **Contents**  {#contents .TOC-Heading}

[**1.** **Image Plate specification** 3](#image-plate-specification)

> [**1.1 FUJI (ST-VI) specification** 3](#fuji-st-vi-specification)
>
> [**1.2 AGFA (DIGIT BL) specification**
> 3](#agfa-digit-bl-specification)
>
> [**1.3 DIGIRAY FUJI (ST-VI) / AGFA (DIGIT BL) Image Plate Cassette**
> 4](#digiray-fuji-st-vi-agfa-digit-bl-image-plate-cassette)

[**2. Thermal Properties and Chemical Analysis**
5](#thermal-properties-and-chemical-analysis)

> [**2.1 Analysis Institution** 5](#analysis-institution)
>
> [**2.2 Analysis item** 5](#analysis-item)
>
> [**2.3 Analysis Equipment & Test Conditions**
> 5](#analysis-equipment-test-conditions)
>
> [**2.4 SEM / EDS** 5](#sem-eds)

[**3. X-ray Image** 8](#x-ray-image)

# **Image Plate specification**

## **1.1 FUJI (ST-VI) specification**

> FCR Imaging Plate for general purpose
>
> 14\" x 17\" (35.4 x 43.2 cm)
>
> 14\" x 14\" (35.4 x 35.4 cm)
>
> 10\" x 12\" (25.7 x 30.5 cm)
>
> 8\" x 10\" (20.3 x 25.4 cm)

![](media/image2.png){width="2.978969816272966in"
height="1.5763965441819772in"}

## **1.2 AGFA (DIGIT BL) specification**

> CAWO Image Plate sensitivity and sharpness at low dose

1.  Standard Sizes

> 18 x 24 cm, 18 x 43 cm, 20 x 40 cm, 24 x 30 cm,
>
> 35 x 35 cm (14 x 14"), 35 x 43 cm (14 x 17"),
>
> 15 x 30 cm, 8 x 10", 10 x 12"
>
> Other sizes on request.

2.  Phosphor composition

> BaSrFBrl:Eu

3.  Image retention

> Two hours after exposure 70 % of the stored energy is still present
> with no visible loss of information upon readout. Image retention
> still exceeds 45 % after 24 hours. Readout is recommended within 1
> hour after exposure.

![](media/image3.png){width="1.7771587926509187in"
height="1.7924529746281714in"}

## **1.3 DIGIRAY FUJI (ST-VI) / AGFA (DIGIT BL) Image Plate Cassette**

  **FUJI(ST-VI)**        **AGFA(DIGIT BL)**
  ---------------------- ----------------------
                         
  **3543 IP cassette**   **3543 IP cassette**
                         
  **2430 IP cassette**   **2430 IP cassette**
                         
  **1824 IP cassette**   **1824 IP cassette**

# **2. Thermal Properties and Chemical Analysis**

## **2.1 Analysis Institution**

> : Polymer Total Analysis Technology Researcher **\
> ** 59, Oncheon-ro, Yuseong-gu, Daejeon, Republic of Korea TEL.
> 042-826-4377 FAX. 042-826-4378

## **2.2 Analysis item** 

> : FT-IR, Raman, WD-XRF, SEM/EDS

## **2.3 Analysis Equipment & Test Conditions**

> **FT-IR (Nicolet 6700) - Test Mode\
> **: ATR , Wave Number : 4000 \~ 650cm-1 , Number of Scan : 32/4 ,
> Detector : MCTA
>
> **SEM/EDS (Quanta 250 FEG/Apollo XP) - High Vacuum Mode , Coating
> Material\
> **: Au
>
> **Raman Spectrometer (DXR 3xi) - Laser\
> **: 532nm , Wave Number : 3400 \~ 50 cm-1 , Number of Scan : 30
>
> **WD-XRF (ZETIUM) - Mode\
> **: High Vac 37mm , S/W : Quantification Analysis , Detector : Flow &
> Scintillation
>
> Five products of each vendor were sampled and measured. It was
> confirmed that the thermal and chemical properties of the samples for
> each company were the same.

## **2.4 SEM / EDS**

+----------------------------------+----------------------------------+
| **FUJI (ST-VI)**                 | **AGFA (DIGIT BL)**              |
+==================================+==================================+
| ![](media/image4.p               | ![](media/image6.                |
| ng){width="2.5973600174978126in" | png){width="2.622253937007874in" |
| height="2.0188681102362205in"}   | height="2.0188681102362205in"}   |
|                                  |                                  |
| ![](media/image5.p               | ![](media/image7.p               |
| ng){width="3.1496062992125986in" | ng){width="3.1496062992125986in" |
| height="1.6615879265091864in"}   | height="1.6615879265091864in"}   |
|                                  |                                  |
|   **Ele                          |   **Ele                          |
| ment**   **Wt%**   **Wt% Sigma** | ment**   **Wt%**   **Wt% Sigma** |
|   -------                        |   -------                        |
| ------ --------- --------------- | ------ --------- --------------- |
|   C             27.35     0.34   |   C             23.25     0.45   |
|   O             4.16      0.22   |   F             1.72      0.25   |
|   F             3.38      0.21   |   Br            16.62     0.36   |
|   Zn            1.82      0.20   |   I             6.72      0.36   |
|   Br            15.45     0.25   |   Ba            51.69     0.52   |
|   I             4.37      0.23   |   Total:        100.00           |
|   Ba            43.47     0.38   |                                  |
|   Total:        100.00           |                                  |
+----------------------------------+----------------------------------+
| **Electron Image**               | **Electron Image**               |
+----------------------------------+----------------------------------+
| ![](media/image8.p               | ![](media/image9.                |
| ng){width="3.0311275153105863in" | png){width="3.086032370953631in" |
| height="2.3584897200349957in"}   | height="2.3583333333333334in"}   |
+----------------------------------+----------------------------------+
| **EDS Layered Image**            | **EDS Layered Image**            |
+----------------------------------+----------------------------------+
| ![](media/image10.               | ![](media/image11.               |
| png){width="3.149180883639545in" | png){width="3.148179133858268in" |
| height="1.7640594925634296in"}   | height="1.7638888888888888in"}   |
+----------------------------------+----------------------------------+
| **C K series**                   | **C K series**                   |
+----------------------------------+----------------------------------+
| ![](media/image12.p              | ![](media/image13.               |
| ng){width="3.1489402887139106in" | png){width="3.148218503937008in" |
| height="1.716719160104987in"}    | height="1.7166666666666666in"}   |
+----------------------------------+----------------------------------+
| **O K series**                   | **O K series**                   |
+----------------------------------+----------------------------------+
| ![](media/image14                | ![](media/image15.p              |
| .png){width="3.14878280839895in" | ng){width="3.1486111111111112in" |
| height="1.754336176727909in"}    | height="1.7541666666666667in"}   |
+----------------------------------+----------------------------------+
| **F K series**                   | **F K series**                   |
+----------------------------------+----------------------------------+
| ![](media/image16.               |                                  |
| png){width="3.148467847769029in" |                                  |
| height="1.8107053805774278in"}   |                                  |
+----------------------------------+----------------------------------+
| **Zn L series**                  |                                  |
+----------------------------------+----------------------------------+
| ![](media/image17.               | ![](media/image18.p              |
| png){width="3.148624234470691in" | ng){width="3.1478937007874017in" |
| height="1.763652668416448in"}    | height="1.7631944444444445in"}   |
+----------------------------------+----------------------------------+
| **Br L series**                  | **Br L series**                  |
+----------------------------------+----------------------------------+
| ![](media/image19.               | ![](media/image20.p              |
| png){width="3.149021216097988in" | ng){width="3.1476082677165356in" |
| height="1.7639413823272092in"}   | height="1.7638888888888888in"}   |
+----------------------------------+----------------------------------+
| **I L series**                   | **I L series**                   |
+----------------------------------+----------------------------------+
| ![](media/image21.p              | ![](media/image22.               |
| ng){width="3.1487806211723535in" | png){width="3.147607174103237in" |
| height="1.744902668416448in"}    | height="1.7444444444444445in"}   |
+----------------------------------+----------------------------------+
| **Ba L series**                  | **Ba L series**                  |
+----------------------------------+----------------------------------+

# **3. X-ray Image**

**3.1 X-ray Equipment & Test Conditions\
**

**3.2 X-ray Images\
**

> Five products of each vendor were sampled and measured. It was
> confirmed that the image properties of the samples for each company
> were the same.
