# CR(Computed Radiography) IP (Image Plate) Test Report

## FUJI(ST-VI) / AGFA (CAWO DIGIT BL)

* Thermal and chemical analysis for this report was performed by a professional analysis agency, 
and comparison tests for X-ray images were performed at Digiray.

## Contents 
   * 1.	Image Plate specification	3
     * 1.1 FUJI (ST-VI) specification	3
     * 1.2 AGFA (DIGIT BL) specification	3
     * 1.3 DIGIRAY FUJI (ST-VI) / AGFA (DIGIT BL) Image Plate Cassette	4
   * 2. Thermal Properties and Chemical Analysis	5
     * 2.1 Analysis Institution	5
     * 2.2 Analysis item	5
     * 2.3 Analysis Equipment & Test Conditions	5
     * 2.4 SEM / EDS	5
   * 3. X-ray Image	8


 
## 1.	Image Plate specification
### 1.1 FUJI (ST-VI) specification
FCR Imaging Plate for general purpose
14" x 17" (35.4 x 43.2 cm)
14" x 14" (35.4 x 35.4 cm)
10" x 12" (25.7 x 30.5 cm)
8" x 10" (20.3 x 25.4 cm)

 

### 1.2 AGFA (DIGIT BL) specification
CAWO Image Plate sensitivity and sharpness at low dose
①	Standard Sizes
18 x 24 cm, 18 x 43 cm, 20 x 40 cm, 24 x 30 cm,
35 x 35 cm (14 x 14”), 35 x 43 cm (14 x 17”),
15 x 30 cm, 8 x 10”, 10 x 12”
Other sizes on request.
②	Phosphor composition
BaSrFBrl:Eu
③	Image retention
Two hours after exposure 70 % of the stored energy is still present with no visible loss of information upon readout. Image retention still exceeds 45 % after 24 hours. Readout is recommended within 1 hour after exposure.

 

1.3 DIGIRAY FUJI (ST-VI) / AGFA (DIGIT BL) Image Plate Cassette
FUJI(ST-VI)	AGFA(DIGIT BL)










	










3543 IP cassette	3543 IP cassette










	










2430 IP cassette	2430 IP cassette










	










1824 IP cassette	1824 IP cassette

## 2. Thermal Properties and Chemical Analysis
### 2.1 Analysis Institution
 : Polymer Total Analysis Technology Researcher 
  59, Oncheon-ro, Yuseong-gu, Daejeon, Republic of Korea TEL. 042-826-4377 FAX. 042-826-4378
### 2.2 Analysis item 
: FT-IR, Raman, WD-XRF, SEM/EDS
### 2.3 Analysis Equipment & Test Conditions
FT-IR (Nicolet 6700) - Test Mode 
: ATR , Wave Number : 4000 ~ 650cm-1 , Number of Scan : 32/4 , Detector : MCTA
SEM/EDS (Quanta 250 FEG/Apollo XP) - High Vacuum Mode , Coating Material 
: Au
Raman Spectrometer (DXR 3xi) - Laser 
: 532nm , Wave Number : 3400 ~ 50 cm-1 , Number of Scan : 30
WD-XRF (ZETIUM) - Mode 
: High Vac 37mm , S/W : Quantification Analysis , Detector : Flow & Scintillation

Five products of each vendor were sampled and measured. It was confirmed that the thermal and chemical properties of the samples for each company were the same.

### 2.4 SEM / EDS
FUJI (ST-VI)	AGFA (DIGIT BL)
 
 

Element
Wt%	Wt% Sigma
C	27.35	0.34
O	4.16	0.22
F	3.38	0.21
Zn	1.82	0.20
Br	15.45	0.25
I	4.37	0.23
Ba	43.47	0.38
Total:	100.00	

	 
 

Element
Wt%	Wt% Sigma
C	23.25	0.45
F	1.72	0.25
Br	16.62	0.36
I	6.72	0.36
Ba	51.69	0.52
Total:	100.00	


Electron Image	Electron Image
 	 
EDS Layered Image	EDS Layered Image
 	 
C K series	C K series
 	 
O K series	O K series
 	 
F K series	F K series
 	
Zn L series	
 	 
Br L series	Br L series
 	 
I L series	I L series
 	 
Ba L series	Ba L series


3. X-ray Image
3.1 X-ray Equipment & Test Conditions



3.2 X-ray Images

Five products of each vendor were sampled and measured. It was confirmed that the image properties of the samples for each company were the same.












